@import '~@styles/globals.scss';
@import '~@styles/gradients.scss';

.dashboard{
    // background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    @include bg-gradient();
}

.wrapper{
    // background-color: #9689c5;
    display: grid;
    justify-content: center;
}

.container{
    display: grid;
    grid-gap: 24px;
    padding: 24px;
    height: calc(100vh - 100px);
    height: auto;
    max-width: 1600px;
    min-width: 10px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}

.accounts{
    grid-column: span 1;
    grid-row: span 2;
}
.transaction{
    grid-column: span 1;
    grid-row: span 2;
}
.transfer{
    grid-column: span 1;
    grid-row: span 1;
}
.balance{
    grid-column: span 1;
    grid-row: span 1;
}
.exchange{
    grid-row: span 1;
    display: none;
}

.container > div{
    background-color: rgba(255,255,255,0.7);
    border-radius: 16px;
    padding: 16px;
}

@media screen and (min-width: $breakpoints-sm){
    .exchange{
        display: block;
    }
}

@media screen and (min-width: $breakpoints-md){
    .exchange{
        grid-column: span 3;
    }
}

@media screen and (min-width: $breakpoints-lg){
    .exchange{
        grid-column: span 2;
    }
}

@media screen and (min-width: $breakpoints-xl){

}