@import '~@styles/globals.scss';

.wrapper{
    background-color: $color-gray-5;
    display: grid;
    justify-content: center;
}

.container{
    display: grid;
    grid-gap: 24px;
    padding: 24px;
    height: calc(100vh - 100px);
    height: auto;
    max-width: 1600px;
    min-width: 10px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}

.accounts{
    grid-column: span 1;
    grid-row: span 4;
}
.transaction{
    grid-column: span 1;
    grid-row: span 4;
}
.transfer{
    grid-column: span 1;
    grid-row: span 2;
}
.exchange{
    grid-column: span 1;
    grid-row: span 2;
}
.balance{
    grid-row: span 2;
    display: none;
}

.container > div{
    background-color: white;
    border-radius: 16px;
    padding: 8px 16px;
}

@media screen and (min-width: $breakpoints-sm){
    .balance{
        display: block;
    }
}

@media screen and (min-width: $breakpoints-md){
    .balance{
        grid-column: span 3;
    }
}

@media screen and (min-width: $breakpoints-lg){
    .balance{
        grid-column: span 2;
    }
}

@media screen and (min-width: $breakpoints-xl){

}