@import '~@styles/globals.scss';

.c_movements__container{
    // height: calc(100vh - 110px);
}

.c_movements__list{
    padding: 0;
    padding-right: 10px;
    list-style:  none;
    height:calc(100vh  - 190px);
    overflow-y: auto;
}

.c_movements__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-secondary;
    padding: 8px 0;
    &:last-of-type{
        border-bottom: none;
    }
}

.c_movements__item_description_flag{
    color: $color-secondary;
    background-color: $color-blue-20;
    padding: 3px;
    border: 1px solid $color-secondary;
    margin: 0 5px;
    border-radius: 3px;
}

.c_movements__item_description_date{
    color: $color-gray-30;
}
