@import '~@styles/colors.scss';

.c_accounts__container{
    // padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.c_accounts__balance{
    & div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.c_accounts__balance{
    border-bottom: 2px solid $color-secondary;
    padding-bottom: 8px;
}

.c_accounts__balance_total{
    & h4{
        margin: 8px 0;
        font-size: 1.5rem
    }

    & p{
        margin: 0;
        font-size: 1.2rem;
    }
}

.c_accounts__balance_limit{
    color: $color-gray-40;
    & h4{
        margin: 0;
        font-weight: normal;
    }
    
    & p{
        margin: 0;
    }
}

.c_accounts__numbers{
    padding-top: 8px;
}
.c_accounts__share_content{
    margin: 16px 0;
    & h4{
        color: $color-gray-40;
        margin:0;
        font-weight: normal;
    }
}
.c_accounts__share_number{
    & p{
        margin: 0;
        font-size: 22px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c_accounts__share_button{
    background-color: $color-secondary;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    
    &:hover{
        background-color: $color-blue-40;
    }

    & svg{
        margin:auto;
        width: 20px;
        fill: white;
    }
}

.c_accounts__card_selected{
    margin: 16px auto;
    display: flex;
    justify-content: center;
}

.c_accounts__card_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    & div{
        margin: -8px 0px;
    }
}