@import '~@styles/globals.scss';

.c_accounts__container{
    // padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.c_accounts__balance{
    & div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.c_accounts__balance{
    border-bottom: 2px solid $color-secondary;
    padding-bottom: 8px;
}


.c_accounts__balance_limit{
    color: $color-gray-40;
}

.c_accounts__numbers{
    padding-top: 8px;
}
.c_accounts__share_content{
    margin: 16px 0;
    & h4{
        color: $color-gray-40;
    }
}
.c_accounts__share_number{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c_accounts__share_button{
    background-color: $color-secondary;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    
    &:hover{
        background-color: $color-blue-40;
    }

    & svg{
        margin:auto;
        width: 20px;
        fill: white;
    }
}

.c_accounts__card_selected{
    margin: 24px auto;
    margin-bottom: 42px;
    display: flex;
    justify-content: center;
}

.c_accounts__card_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    & div{
        margin: -8px 0px;

        &:last-of-type{
            margin: 0px;
            margin-top: -8px;
        }
    }
}
.c_accounts__card_list_shadow{
    margin: 0 auto;
    height: 10px;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 20px;
    box-shadow: 0px -6px 6px -4px rgba(0, 0, 0, 0.5);
    margin-top: 0;
}

.c_accounts__button_create{
    width: 100%;
}

@import '~@styles/globals.scss';

@media screen and (min-width: $breakpoints-sm){
    
}

@media screen and (min-width: $breakpoints-md){
    
}

@media screen and (min-width: $breakpoints-lg){
    
}

@media screen and (min-width: $breakpoints-xl){
    
}