@import '~@styles/globals.scss';

.c_exchange__container{

}

.c_exchange__field{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.c_exchange__field_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 5px 8px;
    border-radius: 10px 0px 0px 10px;
}

.c_exchange__field_input{
    border: none;
    padding:0;
    width:100%;
}

.c_exchange__field_currency{
    background-color: $color-secondary;
    padding: 8px;
    width:30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
}

.c_exchange__field_currency_text{
    color:white;
}

.c_exchange__swipe_currency{
    position: relative;
}

.c_exchange__swipe_currency_button{
    position: absolute;
    background-color: white;
    border: 2px solid $color-secondary;
    border-radius: 100%;
    padding:8px;
    width: 44px;
    top:-16px;
    left: calc(70% - (44px / 2));
    & svg{
        width: 100%;
        fill: $color-secondary;
    }
}

@media screen and (min-width: $breakpoints-sm){

}

@media screen and (min-width: $breakpoints-md){

}

@media screen and (min-width: $breakpoints-lg){

}

@media screen and (min-width: $breakpoints-xl){

}