$color-brown: #631C02; 
$color-salmon: #D69983; 
$color-coper: #B86548; 
$color-orange: #FC581C; 

$color-blue-10: #cfdade; 
$color-blue-20: #9fb5bd; 
$color-blue-30: #70919d;
$color-blue-40: #406c7c;
$color-blue-50: #11485C;
$color-blue-60: #0d3949;
$color-blue-70: #0a2b37;

$color-gray-5: #eeeff3;
$color-gray-10: #e5e5e5;
$color-gray-15: #cccccc;
$color-gray-20: #b2b2b2;
$color-gray-30: #999999;
$color-gray-40: #7f7f7f;
$color-gray-50: #666666;
$color-gray-60: #4c4c4c;
$color-gray-70: #323232;
$color-gray-80: #191919;

$color-primary: #fbfbfb;
$color-secondary: $color-blue-50;
