@import '~@styles/colors.scss';
.c_header__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: $color-secondary;
}

.c_header__logo{
    font-size: 24px;
    margin:0 8px;
}

.c_header__options{
    padding: 0;
    margin:0 8px;
    list-style-type: none;
    display: flex;
    & li{ 
        padding:0 16px;
        border-right: 1px solid white;
        &:last-child{
            border-right: none;
        }
    }
}

.c_header__notificacion_icon{
    & svg{
        width: 25px;
        fill: white;
    }
}

.c_header__user_icon{
    & svg{
        width: 25px;
        fill: white;
    }
}