@import '~@styles/globals.scss';

.c_header__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    align-items: center;
    height: 50px;
    max-width: 1600px;
    margin:auto;
    background-color: transparent;
}

.c_header__logo{
    font-size: 24px;
    margin:0 8px;
    color: $color-primary;
}

.c_header__navbar_item{
    color: white;
    border: 1px solid white;
    padding: 8px;
    margin: 0 8px !important;
    border-radius: 5px;
    text-decoration: none;
}

.c_header__options{
    padding: 0;
    margin:0 8px;
    list-style-type: none;
    display: flex;
    & li{ 
        padding:0 16px;
        border-right: 1px solid $color-primary;
        &:last-child{
            border-right: none;
            padding-right:0;
        }
    }
}

.c_header__notificacion_icon{
    & svg{
        width: 25px;
        fill: $color-primary;
    }
}

.c_header__user_icon{
    & svg{
        width: 25px;
        fill: $color-primary;
    }
}