@import '~@styles/globals.scss';
@import '~@styles/gradients.scss';

.c_card__container_bg_gradient_1{
    @include bg-gradient-1();
}
.c_card__container_bg_gradient_2{
    @include bg-gradient-2();
}
.c_card__container_bg_gradient_3{
    @include bg-gradient-3();
}
.c_card__container_bg_gradient_4{
    @include bg-gradient-4();
}
.c_card__container_bg_gradient_inactive{
    @include bg-gradient-inactive();
}

.c_card__container{
    // border: 2px solid $color-blue;
    border-radius: 16px;
    padding: 24px;
    padding-top: 15px;
    width: 100%;
    height: auto;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.5);
}

.c_card__container.minimized{
    padding: 16px;
    box-shadow: 0px -4px 13px -3px rgba(0, 0, 0, 0.5);
    height: 42px;
    width: 80%;
    border-radius: 16px 16px 0px 0px;
    &:nth-child(1) { 
        width: 76%;
    }
    &:nth-child(2) { 
        width: 78%;
    }
    &:nth-child(3) { 
        width: 80%;
    }
}

.c_card__container_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c_card__name{
    color: white;
}

.c_card__mount_minimized{
   

}

.c_card__chip{
    height: 32px;
    fill:white;
}

.c_card__number{
    color: white;
    
}

.c_card__expired_date{
    color: white;
    
}

.c_card__brand{
    width: 48px;
    border-radius: 8px;
}

@import '~@styles/globals.scss';

@media screen and (min-width: $breakpoints-sm){

}

@media screen and (min-width: $breakpoints-md){
    .c_card__container{
        width: 80%;
    }
}

@media screen and (min-width: $breakpoints-lg){

}

@media screen and (min-width: $breakpoints-xl){

}